
.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:rgb(130, 238, 202);
}

.imagen {
    width: 350px; 
    height: 300px;
    border-radius: 25px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.imagen:hover {
    transform: scale(1.5);
}
